<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, the ultimate buy/sell network!</p>
    <h2>All products:</h2>

    <%= %>
    <%= %>
    <%= %>
  </body>
</html>
